@charset "utf-8";
@import url("font-awesome.min.css");
@import url("framework.css");

/* Rreshtat*/

.row0,
.row0 a {}

.row1 {
	border-bottom: 1px solid;
}

.row2 {
	border-bottom: 1px solid;
}

.row3,
.row3 a {}

.row4,
.row4 a {}

.row5 {
	border-top: 1px solid;
}


/* Rreshti larte me butona */

#topbar {
	padding: 15px 0;
	font-size: .8rem;
	text-transform: uppercase;
}

#topbar * {
	margin: 0;
}

#topbar ul li {
	display: inline-block;
	margin-right: 10px;
	padding-right: 15px;
	border-right: 1px solid;
}



#topbar i {
	margin: 0 5px 0 0;
	line-height: normal;
}


/* Hederi */

#header {
	margin-bottom: 20px;
}

#header #logo {
	margin: 30px 0 0 0;
}

#header #logo h1 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	text-transform: uppercase;
}


/* Page Intro */

#pageintro {
	padding: 150px 0;
}

#pageintro li article {
	display: block;
	max-width: 75%;
	margin: 0 auto;
	text-align: center;
}

#pageintro li article * {
	margin: 0;
}




/* Pjesa e Kontaktit*/

.container.hoc{
	padding: 80px 0;

}


/* Pjesa kryesore - kontenti */

.container .content {
	color:white;
	padding:120px 30px;
	box-shadow:8px 8px 15px;
	border-radius:30px;
	background-color: rgba(0, 0, 0, 0.712);
	font-size:19px;
}

.centered-form {
	margin-left: 350px !important;
	
}

.submitbutton{
	margin-top: 15px;
}

.input{
	font-size:19px;
	color:black;
	border-radius:5px;
	
}

.sectiontitle {
	display: block;
	max-width: 65%;
	margin: 0 auto 60px;
	text-align: center;
	margin-top: 25px;
}



.logos li a {
	display: inline-block;
	max-width: 100%;
}

.container{
	position:center
}


/* Sidebar */

.container .sidebar {}

.sidebar .sdb_holder {
	margin-bottom: 50px;
}

.sidebar .sdb_holder:last-child {
	margin-bottom: 0;
}


/* Futeri */

#footer {
	padding: 80px 0;
}

#footer .heading {
	margin-bottom: 50px;
	font-size: 1.2px;
}

#footer .linklist li {
	display: block;
	margin-bottom: 15px;
	padding: 0 0 15px 0;
	border-bottom: 1px solid;
}

#footer .linklist li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}



#footer .contact li i {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	font-size: 16px;
	text-align: center;
}

#footer input,
#footer button {
	border: 1px solid;
}

#footer input {
	display: block;
	width: 100%;
	padding: 8px;
}

#footer button {
	padding: 8px 18px 10px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}



/* Copyright */

#copyright {
	padding: 20px 0;
}

#copyright * {
	margin: 0;
	padding: 0;
}


/* Navigation */

nav ul,
nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainav,
#breadcrumb,
.sidebar nav {
	line-height: normal;
}

#mainav .drop::after,
#mainav li li .drop::after,
#breadcrumb li a::after,
.sidebar nav a::after {
	position: absolute;
	font-family: "FontAwesome";
	font-size: 10px;
	line-height: 10px;
}


/* Top Navigation */

#mainav {}

#mainav ul {
	text-transform: uppercase;
}

#mainav ul ul {
	z-index: 9999;
	position: absolute;
	width: 180px;
	text-transform: none;
}

#mainav ul ul ul {
	left: 180px;
	top: 0;
}

#mainav li {
	display: inline-block;
	position: relative;
	margin: 0 15px 0 0;
	padding: 0;
}



#mainav li li {
	width: 100%;
	margin: 0;
}

#mainav li a {
	display: block;
	padding: 30px 0;
}

#mainav li li a {
	border: solid;
	border-width: 0 0 1px 0;
}

#mainav .drop {
	padding-left: 15px;
}

#mainav li li a,
#mainav li li .drop {
	display: block;
	margin: 0;
	padding: 10px 15px;
}



#mainav .drop::after {
	top: 35px;
	left: 5px;
}

#mainav li li .drop::after {
	top: 15px;
	left: 5px;
}

#mainav ul ul {
	visibility: hidden;
	opacity: 0;
}
 

#mainav form {
	display: none;
	margin: 0;
	padding: 0;
}

#mainav form select,
#mainav form select option {
	display: block;
	cursor: pointer;
	outline: none;
}

#mainav form select {
	width: 100%;
	padding: 5px;
	border: none;
}

#mainav form select option {
	margin: 5px;
	padding: 0;
	border: none;
}


/* Breadcrumb */

#breadcrumb {
	padding: 120px 0 15px;
}

#breadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
}


/* Sidebar Navigation */

.sidebar nav {
	display: block;
	width: 100%;
}

.sidebar nav li {
	margin: 0 0 3px 0;
	padding: 0;
}

.sidebar nav a {
	display: block;
	position: relative;
	margin: 0;
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	border: solid;
	border-width: 0 0 1px 0;
}

.sidebar nav a::after {
	top: 9px;
	left: 5px;
	
}

.sidebar nav ul ul a {
	padding-left: 35px;
}

.sidebar nav ul ul a::after {
	left: 25px;
}

.sidebar nav ul ul ul a {
	padding-left: 55px;
}

.sidebar nav ul ul ul a::after {
	left: 45px;
}


/* Pagination */

.pagination {
	display: block;
	width: 100%;
	text-align: center;
	clear: both;
}

.pagination li {
	display: inline-block;
	margin: 0 2px 0 0;
}

.pagination li:last-child {
	margin-right: 0;
}

.pagination a,
.pagination strong {
	display: block;
	padding: 8px 11px;
	border: 1px solid;
	background-clip: padding-box;
	font-weight: normal;
}


/* Back to Top */

#backtotop {
	z-index: 999;
	display: inline-block;
	position: fixed;
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	opacity: .2;
}

#backtotop i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: inherit;
}

#backtotop.visible {
	visibility: visible;
	opacity: .5;
}

#backtotop:hover {
	opacity: 1;
}


/* Tabelat */

table,
th,
td {
	border: 1px solid;
	border-collapse: collapse;
	vertical-align: top;
}

table,
th {
	table-layout: auto;
}

table {
	width: 100%;
	margin-bottom: 15px;
}

th,
td {
	padding: 5px 8px;
}

td {
	border-width: 0 1px;
}


/* Galeria */

#gallery {
	display: block;
	width: 100%;
	margin-bottom: 50px;
}

#gallery figure figcaption {
	display: block;
	width: 100%;
	clear: both;
}

#gallery li {
	margin-bottom: 30px;
}




/* Ngjyrat */

body {
	color: black;
	background-color: white;
}

a {
	color: inherit;
}

a:active,
a:focus {
	background: transparent;
}



hr,
.borderedbox {
	border-color: #D7D7D7;
}

label span {
	color: #FF0000;
	background-color: inherit;
}

input:focus,
textarea:focus,
*:required:focus {
	border-color: #00ADEF;
}

.overlay {
	color: #FFFFFF;
	background-color: pink;
}

.overlay::after {
	color: pink;
	background-color: rgba(0, 0, 0, .55);
}

.overlay.light {
	color: #474747;
}

.overlay.light::after {
	background-color: rgba(255, 255, 255, .9);
}

.btn,
.btn.inverse:hover {
	color: inherit;
	background-color: transparent;
	border-color: inherit;
}

.btn:hover,
.btn.inverse {
	color: inherit;
	background-color: transparent;
	border-color: inherit;
}

blockquote::before {
	color: rgba(255, 255, 255, .2);
}

.icon {
	color: #00ADEF;
	border-color: #D7D7D7;
}

a>.icon:hover,
.services article:hover .icon {
	color: inherit;
	background-color: pink;
	border-color: inherit;
}


/* Reshata */

.row0,
.row0 a {
	color: #474747;
	background-color: #EFEFEF;
}

.row1 {
	color: #474747;
	background-color: #FFFFFF;
}

.row2 {
	color: #474747;
	background-color: #EFEFEF;
	border-color: #D7D7D7;
}

.row3 {
	color: #474747;
	background-color: #FFFFFF;
}

.row4 {
	color: #CBCBCB;
	background-color: #222222;
}

.row5,
.row5 a {
	color: #CBCBCB;
	background-color: #222222;
}

.row5 {
	border-color: rgba(255, 255, 255, 0.1);
}


/* Dashboard */

#topbar ul li {
	border-color: rgba(0, 0, 0, .1);
}

#topbar>div:last-of-type li:first-child a {
	color: #00ADEF;
}


/* Headeri */

#header #logo a {
	color: inherit;
}


/* Pjesa e kontentit */

.excerpt .excerpttxt {
	color: inherit;
	background-color: #FFFFFF;
}


/* Foteri */

#footer .heading {
	color: #FFFFFF;
}

#footer hr,
#footer .borderedbox,
#footer .linklist li {
	border-color: rgba(255, 255, 255, .1);
}

#footer input,
#footer button {
	border-color: transparent;
}

#footer input {
	color: #FFFFFF;
	background-color: #353535;
}

#footer input:focus {
	border-color: #00ADEF;
}

#footer button {
	color: #FFFFFF;
	background-color: #00ADEF;
}


/* Navigation */

#mainav li a {
	color: inherit;
}

#mainav .active a,
#mainav a:hover,
#mainav li:hover>a {
	color: #00ADEF;
	background-color: inherit;
}

#mainav li li a,
#mainav .active li a {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, .6);
	border-color: rgba(0, 0, 0, .6);
}


#mainav form select {
	color: #FFFFFF;
	background-color: #000000;
}

#breadcrumb a {
	color: inherit;
	background-color: inherit;
}

#breadcrumb li:last-child a {
	color: #00ADEF;
}

.container .sidebar nav a {
	color: inherit;
	border-color: #D7D7D7;
}

.container .sidebar nav a:hover {
	color: #00ADEF;
}

.pagination a,
.pagination strong {
	border-color: #D7D7D7;
}

.pagination .current * {
	color: #FFFFFF;
	background-color: #00ADEF;
}

#backtotop {
	color: #FFFFFF;
	background-color: #00ADEF;
}





/* Max Wrapper Width - Laptop, Desktop */

@media screen and (min-width:978px) {
	.hoc {
		max-width: 978px;
	}
}




@media screen and (max-width:450px) {
	#topbar ul li {
		margin-bottom: 2px;
		padding-right: 0;
		border-right: none;
	}
}




@media screen and (max-width:650px) {
	.scrollable {
		display: block;
		width: 100%;
		margin: 0 0 30px 0;
		padding: 0 0 15px 0;
		overflow: auto;
		overflow-x: scroll;
	}
	.scrollable table {
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}
	.inline li {
		display: block;
		margin-bottom: 10px;
	}
	.pushright li {
		margin-right: 0;
	}
	.font-x2 {
		font-size: 1.4rem;
	}
	.font-x3 {
		font-size: 1.6rem;
	}
	#pageintro li article {
		max-width: none;
		width: 100%;
	}
	#pageintro li .heading {
		font-size: 1.6rem;
	}
}